 .Alldiv{
            background-image: url("images/bg.jpg");   
            height:1000px;
        }
        .button1{
            align-items: center;
            text-align: center;
            font-family: sans-serif;
            
        }
        
        .container {
      width: 1000px;
      display: flex;
      
      background-color: white;
      border-radius: 5px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
      overflow: hidden;
    }
    .image-side {
      flex: 1;
     
      background-size: cover;
      background-position: center;
    }
    .form-side {
      flex: 1;
      padding: 30px;
    }
    .form-container {
      max-width: 300px;
      margin: auto;
    }
    .form-container h1 {
     
      color: #333;
    }
    .form-container label {
      display: block;
      font-weight: bold;
      margin-bottom: 10px;
    }
    .form-container input[type="text"],
    .form-container input[type="email"],
    .form-container textArea,
    .form-container select,
    .form-container button,
    .form-container input[type="password"] {
      width: 70%;
      padding: 5px;
      margin-bottom: 4px;
      border-radius: 5px;
      border: none;
      background-color: #f2f2f2;
      font-size: 16px;
      color: #333;
    }
    .form-container input[type="text"]:focus,
    .form-container input[type="email"]:focus,
    .form-container input[type="password"]:focus {
      outline: none;
      border: 2px solid #3498db;
    }
    .form-container input[type="submit"] {
      display: block;
      width: 100%;
      padding: 7px;
      border: none;
      border-radius: 5px;
      background-color: #00cccc;
      color: #fff;
      font-size: 14px;
      cursor: pointer;
    }
    .form-container input[type="submit"]:hover {
        background-color: #0099cc;
    }